
###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

/.idea/
.DS_Store
/coverage/
/tests/public
/tests/tests.db

test-coverage.json

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

node_modules
composer.lock
###> friendsofphp/php-cs-fixer ###
/.php_cs.dist
/.php_cs.cache
/.phpcs-cache
###< friendsofphp/php-cs-fixer ###
