<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" colors="true"
         bootstrap="tests/bootstrap.php" failOnRisky="true" failOnWarning="true">

    <coverage>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <exclude>
            <directory>./src/DependencyInjection/Configuration.php</directory>
            <directory>./src/DependencyInjection/BarthyImageUploadExtension.php</directory>
            <directory>./src/Resources</directory>
            <directory>./tests</directory>
            <directory>./vendor</directory>
        </exclude>
    </coverage>

    <extensions>
        <extension class="DAMA\DoctrineTestBundle\PHPUnit\PHPUnitExtension"/>
    </extensions>

    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="intl.default_locale" value="de"/>
        <ini name="intl.error_level" value="0"/>
        <ini name="memory_limit" value="-1"/>
        <env name="KERNEL_CLASS" value="AppKernel"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>
        <env name="APP_ENV" value="test"/>
        <env name="APP_SECRET" value="asfsaghaksnoafvjsvj9u01ruq90wjqnowqf0n1"/>
        <env name="DATABASE_URL" value="sqlite:///%kernel.project_dir%/tests/tests.db"/>
    </php>
    <testsuites>
        <testsuite name="Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
