version: 2
jobs:
  test:
    docker:
      - image: circleci/php:7.3.2-cli-stretch
    environment:
      BADGE_TOKEN: c8da67c0-962c-46da-841a-d77b0ad34991
    working_directory: ~/image-upload-bundle
    steps:
      - checkout
      - run: sudo docker-php-ext-install zip
      - run: sudo composer self-update
      - restore_cache:
          keys:
            - composer-v1-{{ checksum "composer.lock" }}
            - composer-v1-
      - run: composer install -n --prefer-dist --no-scripts
      - save_cache:
          key: composer-v1-{{ checksum "composer.lock" }}
          paths:
            - vendor
      - run: ~/image-upload-bundle/scripts/tests-with-coverage.sh
